#tableUsuarios thead tr td,
#tableUsuarios tbody tr td {
    vertical-align: middle !important;
}


/*-- tabla --*/

#tableUsuarios thead tr td {
    background: linear-gradient(to bottom, #8fba5c 0%, #a5dc64 100%) !important;
    font-weight: bold;
    color: rgb(33 37 41);
    vertical-align: middle;
    font-size: 12px !important;
    font-weight: normal;
    line-height: 1.2;
    border-right: none;
}

#tableUsuarios tr td,
#tableUsuarios tr th {
    vertical-align: middle;
    padding: 6px;
}

#tableUsuarios .even {
    background-color: #F2F2F2;
}

#tableUsuarios .odd {
    background-color: #FFFFFF;
}

#tableUsuarios {
    width: 100%;
    padding: 15px 10px 13px;
    border-bottom: 1px solid #dee2e6;
    /* background: #ececec;
    border-radius: 10px;
    border-collapse: separate !important; */
}

#tableUsuarios tbody tr {
    width: 100%;
}

#tableUsuarios tbody::-webkit-scrollbar {
    width: 8px;
    /* TamaÃ±o del scroll en vertical */
    height: 8px;
    /* TamaÃ±o del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}

#tableRolesUsuarios thead tr td {
    background: linear-gradient(to bottom, #8fba5c 0%, #a5dc64 100%) !important;
    font-weight: bold;
    color: rgb(33 37 41);
    vertical-align: middle;
    font-size: 12px !important;
    font-weight: normal;
    line-height: 1.2;
    border-right: none;
}

#tableRolesUsuarios tr td,
#tableRolesUsuarios tr th {
    vertical-align: middle;
    padding: 6px;
}

#tableRolesUsuarios .even {
    background-color: #F2F2F2;
}

#tableRolesUsuarios .odd {
    background-color: #FFFFFF;
}

#tableRolesUsuarios {
    width: 100%;
    padding: 15px 10px 13px;
    border-bottom: 1px solid #dee2e6;
    /* background: #ececec;
    border-radius: 10px;
    border-collapse: separate !important; */
}

#tableRolesUsuarios tbody tr {
    width: 100%;
}

#tableRolesUsuarios tbody::-webkit-scrollbar {
    width: 8px;
    /* TamaÃ±o del scroll en vertical */
    height: 8px;
    /* TamaÃ±o del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}